.dropDown {
  display: block;
  position: relative;
  &__result {
    font-size: 20px;
    height: 30px;
    border: none;
  }
  &__values {

  }
  &__value {

  }
  &__arrow {
    position: absolute;
    top: 8px;
    right: 0px;
  }
}