@import '../../../styles/variables';
.nav {
  display: flex;
  padding: 20px 90px 0px;
  align-items: center;
  color: $bp-content-light;

  &__title{
    font-size: 50px;
    font-family: 'Lumanosimo', cursive;
    a {
      text-decoration: none;
      color: $bp-content-light;
    }
  }

  &__list {
    flex: auto;
  }
}

.list {
  margin-left: 40px;
  &__wrapper {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
  }
  &__el {
    font-size: 30px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $bp-content-light;
      transition: 0.3s;
      &:hover{
        color: $bp-back;
      }
    }
  }
}

.user-block {
  display: flex;
  border-left: 1px solid $bp-content-dark;
  padding-left: 20px;
  height: 100%;
  align-items: center;
  &__name {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 20px;
  }
  &__avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }
}