@import '../../../styles/variables';
.nav {
  display: flex;
  padding: 20px 90px 0px;
  align-items: center;
  color: $bp-content-light;
  justify-content: space-between;

  &__menu {
    flex: auto;
    display: flex;
    text-decoration: none;
    list-style: none;
  }
  .menu {
    &__item {
      font-size: 20px;
      flex: 1 auto auto;
      max-width: 200px;
      a {
        text-decoration: none;
        color: $bp-content-light;  
      }
    }
  }

  &__title{
    font-size: 50px;
    font-family: 'Lumanosimo', cursive;
    a {
      text-decoration: none;
      color: $bp-content-light;
    }
  }

  &__list {
    flex: auto;
  }
  &__user {
    font-size: 25px;
    color: $bp-content-light;
  }
  &__login {
    color: $bp-content-light;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
  }
}

